.panel-content {
	padding: 0 5px 0 5px;
}

.panel-button {
    padding: 0 10px 0 10px;
}

.panel-heading {
    text-align: center;
    padding: 5px 15px;
}

.panel-footer {
	text-align: end;
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.center-block{
    float: none;
}

.center-text {
    text-align: center;
    padding: 5px 0 5px 0;
}

.big-name {
    font-size: 26px;
}

.slogan {
    font-size: 18px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }
.voffset10 { margin-top: 170px; }
.voffset11 { margin-top: 200px; }
.voffset12 { margin-top: 300px; }
.voffset13 { margin-top: 350px; }